body{
	
    font-family: 'Open Sans', sans-serif;
	background: #000;
	background-size: cover;
	background-attachment: fixed;
}
.table{
	width: 550px;
	height: 280px;
	margin: 10px;
	border: rgb(0, 0, 0) 3px solid;
}
th{
	font-size: x-large;
}
.para{
	
	border: rgba(7, 170, 245, 0.445) solid;
	background-color: rgba(7, 170, 245, 0.445)
	
	
}
div7{
	text-align: center;
	font-size: 25px;
}
div8{
	text-align: center;
	font-size: 20px;
}
h4
{
	text-align: center;
	color: white;
}
nav {
	margin: 0 auto;
    padding: 0;
	max-width: 1000px;
	background-color: rgba(7, 170, 245, 0.445);
    
}
nav1 h1, p{
    text-align: center;
	margin: auto ;
    padding: 10px 0 10px 0;
	max-width: 1000px;
	background-color: rgba(7, 170, 245, 0.445);
}
.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: rgba(7, 170, 245, 0.445);
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
    font-size: 25px;
}
.navigation a:hover {
	color: rgb(0, 0, 0);
	background-color: #c3da72;
	font-weight: 700;
}
.responsive li {
	display: block;
}

.main {
	background:rgba(7, 170, 245, 0.445) ;
	padding: 20px;
	width: 75%;
    margin: auto ;
    margin-top: 20px;
    
}

.main article .thumb {
	margin-bottom: 20px;
}

.main article .thumb img {
	vertical-align: top;
	width: 100%;
}

.main article h2 {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 32px;
}

.main article p {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 27px;
}



.logobo{
	width: 130px;
	height: 130px;
	margin: -125px 0px 30px 280px;
}

.cielo{
    background-color: rgba(8, 149, 173, 0.63);
    margin-top: 20px;
	padding: 15px 0 15px 0 ;
}
footer .redes-sociales a {
	color: #fff;
	text-decoration: underline;
	margin-left: 20px;
}

footer .redes-sociales a:hover {
	text-decoration: none;
}

@media only screen and (min-width: 32.5em) {
 
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        color: rgb(0, 0, 0);
    }
	
}
@media only screen and (max-width: 1200px)
{
	.logobo{
		width: 150px;
		height: 150px;
		margin: -105px 0px 30px 100px;
	}
}
@media only screen and (max-width: 1100px)
{
	.table{
		width: 550px;
		height: 280px;
		margin: 10px;
		border: rgb(0, 0, 0) 3px solid;
	}
	th{
		font-size: x-large;
	}
	.para{
		
		border: rgba(7, 170, 245, 0.445);
		background-color: rgba(7, 170, 245, 0.445)
		
		
	}
	.logobo{
		width: 130px;
		height: 130px;
		margin: -125px 0px 30px 50px;
	}
}
@media only screen and (max-width: 1000px)
{
	.logobo{
		width: 120px;
		height: 100px;
		margin: -105px 0px 30px 5px;
	}
}
@media only screen and (max-width: 800px)
{
	.table{
		width: 350px;
		height: 200px;
		margin: 10px;
		border: rgb(0, 0, 0) 3px solid;
	}
	th{
		font-size: x-large;
	}
	.para{
		
		border: rgba(7, 170, 245, 0.445);
		background-color: rgba(7, 170, 245, 0.445)
		
		
	}
	 h1{
		 font-size: large;

	 }
	.gif{
		width: 400px;
		margin-right: 3px;
		margin-top: 25px;
	}
	.gif1{
		
		width: 400px;
		margin-right: 3px;
		margin-top: 10px;
	}
	.gif2{
		width: 400px;
		margin-right: -7px;
		margin-top: 10px;
	}
	.logobo{
		width: 110px;
		height: 100px;
		
		margin-left: 50px;
	}
}

@media screen and (max-width: 600px) {
	.table{
		width: 200px;
		height: 120px;
		margin: 10px;
		border: rgb(0, 0, 0) 3px solid;
	}
	th{
		font-size: x-large;
	}
	.para{
		
		border: rgba(7, 170, 245, 0.445);
		background-color: rgba(7, 170, 245, 0.445)
		
		
	}

	.gif, .gif1{
		
		width: 400px;
		margin-right: 3px;
	}
	.gif2{
		width: 400px;
		margin-right: -7px;
	}
	
	.logobo{
		width: 200px;
		height: 150px;
		margin: 15px 0px 0px 180px;
	}
	
	
}
@media screen and (max-width: 500px) {

	.gif, .gif1{
		
		width: 320px;
		height: 150px;
	}
	.gif2{
		width: 320px;
		height: 150px;
	}
	
	.logobo{
		width: 200px;
		height: 150px;
		margin: 15px -10px -10px 140px;
	}
	
}
@media screen and (max-width: 400px) {

	.gif, .gif1{
		
		width: 320px;
		margin-right: 3px;
	}
	.gif2{
		width: 320px;
		margin-right: -7px;
	}
	.main{
		width: 90%;
	}
	.logobo{
		width: 200px;
		height: 150px;
		margin: 15px 0px 0px 100px;
	}
	
}
@media screen and (max-width: 300px) {

	.gif, .gif1{
		
		width: 200px;
		height: 150px;
	}
	.gif2{
		width: 200px;
		height: 150px;
	}
	.main{
		width: 80%;
		margin-left: 15px;
	}
	header{
		margin-left: 15px;
	}
	.logobo{
		width: 200px;
		height: 150px;
		margin: 15px -10px -10px 40px;
	}
	.boltur{
		width: 200px;
		height: 150px;
	}
}
